Repository 09132095787/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Go, Java, JS, Kotlin, Python, Ruby, Swift, documentation, QL-for-QL, DataFlow Library

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Go:
  - go/**/*
  - change-notes/**/*go.*

Java:
  - any: [ 'java/**/*', '!java/kotlin-extractor/**/*', '!java/kotlin-explorer/**/*', '!java/ql/test/kotlin/**/*' ]
  - change-notes/**/*java.*

JS:
  - any: [ 'javascript/**/*', '!javascript/ql/experimental/adaptivethreatmodeling/**/*' ]
  - change-notes/**/*javascript*

Kotlin:
  - java/kotlin-extractor/**/*
  - java/kotlin-explorer/**/*
  - java/ql/test/kotlin/**/*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

Swift:
  - swift/**/*
  - change-notes/**/*swift*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL":
  - ql/**/*
  - .github/workflows/ql-for-ql*

# since these are all shared files that needs to be synced, I just picked _one_ version
"DataFlow Library":
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll"

Add manual neutral models for java.util.Locale and its subclasses
  java/ql/lib/ext/java.util.model.yml
Labels: Java

Add manual neutral models for java.lang.ClassLoader
  java/ql/lib/ext/java.lang.model.yml
Labels: Java

Accept more capture summary models
  java/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.expected
  java/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.expected
Labels: Java

Accept changes to top jdk apis test
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
Labels: Java

Test fixed by model for `BasicAttributes(String, Object)`
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
Labels: Java

Accept that lots of sinks are now summaries as well
  java/ql/test/utils/modeleditor/ApplicationModeEndpoints.expected
Labels: Java

Tests fixed by model for `CharBuffer.wrap(char[])`
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StrBuilderTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StrBuilderTextTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/TextStringBuilderTest.java
Labels: Java

Add change note
  java/ql/lib/change-notes/2024-01-14-many-generated-jdk-models.md
Labels: Java, documentation

Python: Fix CLI integration tests
  codeql-workspace.yml
  python/extractor/cli-integration-test/writing-diagnostics/test_diagnostics_output.py
  python/extractor/qlpack.yml
Labels: Python

Python: Fix up some bazel references
  python/extractor/tsg-python/BUILD.bazel
  python/extractor/tsg-python/Cargo.Bazel.lock
Labels: Python

Python: Fix Bazel build
  python/BUILD.bazel
  python/extractor/BUILD.bazel
  python/extractor/tsg-python/BUILD.bazel
Labels: Python

Python: Add `codeql-extractor.yml`
  python/codeql-extractor.yml
Labels: Python

Python: Move Python language pack tooling to external repo
  python/tools/BUILD.bazel
  python/tools/autobuild.cmd
  python/tools/autobuild.sh
  python/tools/lgtm-scripts/index.cmd
  python/tools/lgtm-scripts/index.sh
  python/tools/lgtm-scripts/python_setup.cmd
  python/tools/lgtm-scripts/python_setup.sh
  python/tools/pre-finalize.cmd
  python/tools/pre-finalize.sh
Labels: Python

Python: Fix reference in unit test
  python/extractor/tests/test_patterns.py
Labels: Python

Python: Rename `tsg_python_crate_index` to `py_deps`
  python/extractor/tsg-python/BUILD.bazel
  python/extractor/tsg-python/Cargo.Bazel.lock
  python/extractor/tsg-python/Cargo.toml
  python/extractor/tsg-python/tree-sitter-python/BUILD.bazel
Labels: Python

Java: update expected output
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/buildless-fetches.expected
Labels: Java

Go: Remove `CODEQL_EXTRACTOR_GO_FAST_PACKAGE_INFO` check
  go/extractor/extractor.go
Labels: Go
